<ion-header>
  <ion-navbar text-center>
    <!--<ion-title text-align:center>Student rooms</ion-title>-->
    <!--<ion-buttons text-align:center> <img height=44 src="assets/logo2.svg"> </ion-buttons>-->
    <ion-buttons text-align:center> <img height="40px" src="assets/logo.svg"> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" >
    <ion-title margin-top="1px">Student rooms</ion-title>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-round-down"
        pullingText="Pull to refresh"
        refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>



    <ion-fab right bottom #fab1>
        <button ion-fab color="vibrant" mini ><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab (tap)="fabController('update', fab1)"><ion-icon name="refresh"></ion-icon></button>
            <button ion-fab (tap)="fabController('settings', fab1)"><ion-icon name="settings"></ion-icon></button>

        </ion-fab-list>
    </ion-fab>

    <ng-container *ngIf="O205visible">
    <ion-card (tap)="showRoomInfo('O205')" >
    <ion-card-title>
      O 205
    </ion-card-title>
      <img src="assets/imgs/little{{O205Color}}.png" height="180"/>
      <ion-row class="card-subtitle">
          <ion-col >
              <p>Presence</p>
              <p>{{O205Presence}}</p>
          </ion-col>
          <ion-col>
              <p>CO2</p>
              <p>{{O205Air}} ppm</p>
          </ion-col>
          <ion-col>
              <p>Noise</p>
              <p>{{O205Noise}} db</p>
          </ion-col>
        </ion-row>
    </ion-card>
</ng-container>

<ng-container *ngIf="O206visible">
    <ion-card (tap)="showRoomInfo('O206')">
        <ion-card-title>
          O 206
        </ion-card-title>
          <img src="assets/imgs/little{{O206Color}}.png" height="180"/>
          <ion-row class="card-subtitle">
              <ion-col with-30 style="text-align: center">
                  <p>Presence</p>
                  <p>{{O206Presence}}</p>
              </ion-col>
              <ion-col with-30 style="text-align: center">
                  <p>CO2</p>
                  <p>{{O206Air}} ppm</p>
              </ion-col>
              <ion-col with-30 style="text-align: center">
                  <p>Noise</p>
                  <p>{{O206Noise}} db</p>
              </ion-col>
        </ion-row>
    </ion-card>
</ng-container>

<ng-container *ngIf="O001visible">
    <ion-card>
        <ion-card-title>
            O 001
        </ion-card-title>
            <img src="assets/imgs/little{{O001Color}}.png" height="180"/>
            <ion-row class="card-subtitle">
                <ion-col >
                    <p>Presence</p>
                    <p>{{O001Presence}}</p>
                </ion-col>
                <ion-col>
                    <p>CO2</p>
                    <p>{{O001Air}} ppm</p>
                </ion-col>
                <ion-col>
                    <p>Noise</p>
                    <p>{{O001Noise}} db</p>
                </ion-col>
            </ion-row>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="O101visible">
        <ion-card >
            <ion-card-title>
                O 101
            </ion-card-title>
                <img src="assets/imgs/little{{O101Color}}.png" height="180"/>
                <ion-row class="card-subtitle">
                    <ion-col >
                        <p>Presence</p>
                        <p>?</p>
                    </ion-col>
                    <ion-col>
                        <p>CO2</p>
                        <p>? ppm</p>
                    </ion-col>
                    <ion-col>
                        <p>Noise</p>
                        <p>? db</p>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ng-container>

        <ng-container *ngIf="O108visible">
            <ion-card>
                <ion-card-title>
                    O 108
                </ion-card-title>
                    <img src="assets/imgs/little{{O108Color}}.png" height="180"/>
                    <ion-row class="card-subtitle">
                        <ion-col >
                            <p>Presence</p>
                            <p>?</p>
                        </ion-col>
                        <ion-col>
                            <p>CO2</p>
                            <p>? ppm</p>
                        </ion-col>
                        <ion-col>
                            <p>Noise</p>
                            <p>? db</p>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ng-container>

</ion-content>

<ion-footer >
  <ion-row  class="summeryIcons">
      <ion-col with-30 (tap)="filter('Green')">
          <img src="assets/imgs/littleGreen.png"  height="60">
          <p class="card-title" text-align:center >good</p>
      </ion-col>
      <ion-col with-30 (tap)="filter('Yellow')">
          <img src="assets/imgs/littleYellow.png" height="60">
          <p class="card-title">ok</p>
      </ion-col>
      <ion-col with-30 (tap)="filter('Red')">
          <img src="assets/imgs/littleRed.png" height="60">
          <p class="card-title">bad</p>
      </ion-col>
  </ion-row>
</ion-footer>
