<ion-header>
  <ion-navbar>
    <ion-title>
      Room \& Sensor Details
    </ion-title>
    <ion-buttons end> <img height=44 src="assets/htwg-logo.png"> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="sensorLayout">
<p *ngIf="aktualisiert==false"> {{RoomID}}</p>

<ng-container *ngIf="aktualisiert">
  <h2> Room {{RoomID}}</h2>
    <ion-row class="sensorLayout">
        <ion-col >
            <p>Presence</p> 
            <p>{{Presence}}</p>
        </ion-col>
        <ion-col>
            <p>CO2</p> 
            <p>{{Air}} ppm</p> 
        </ion-col>
        <ion-col>
            <p>Noise</p> 
            <p>{{Noise}} db</p> 
        </ion-col>
    </ion-row>
    <p class="sensorLayout">{{bewertung}}</p>
  
  <ion-row class="sensorLayout">
    <ion-col>
        <p>Room map</p> 
        <img src="{{'assets/imgs/'+RoomID+'Raumplan.jpg'}}" height="180" (tap)="showFullRoomImage()"/>
    </ion-col>
    <ion-col>
      <p>Number of workplaces</p> 
      <p>8</p>
      <p>*Note that we do not monitor every place. We can not garantee that a workplace is available.</p>
    </ion-col>  
  </ion-row>

  <p>Map of the area</p> 
  <img src="assets/imgs/Lageplan.png" height="180" (tap)="showFullImage('www/assets/imgs/Lageplan.png', 'Lageplan')" />
</ng-container>


</ion-content>
