<ion-header>
  <ion-navbar>
    <ion-title>
      Room \& Sensor Details
    </ion-title>
    <ion-buttons end> <img height=44 src="assets/htwg-logo.png"> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="sensorLayout">
<p *ngIf="aktualisiert==false"> {{RoomID}}</p>

<ng-container *ngIf="aktualisiert">
  <h2> Raum {{RoomID}}</h2>
    <ion-row class="sensorLayout">
        <ion-col >
            <p>Presence</p> 
            <p>{{Presence}}</p>
        </ion-col>
        <ion-col>
            <p>CO2</p> 
            <p>{{Air}} ppm</p> 
        </ion-col>
        <ion-col>
            <p>Noise</p> 
            <p>{{Noise}} db</p> 
        </ion-col>
    </ion-row>
  
  <ion-row class="sensorLayout">
    <ion-col>
        <p>Raumplan</p> 
        <img src="assets/imgs/BeispielRaumPlan.png" height="180" (tap)="showFullImage('www/assets/imgs/BeispielRaumPlan.png', 'BeispielRaumPlan')/>
    </ion-col>
    <ion-col>
      <p>Anzahl Arbeitsplätze</p> 
      <p>8</p>
    </ion-col>  
  </ion-row>

  <p>Lageplan</p> 
  <img src="assets/imgs/Lageplan.png" height="180" (tap)="showFullImage('www/assets/imgs/Lageplan.png', 'Lageplan')" />
</ng-container>


</ion-content>
